<ion-content padding class="cuerpo">
    <ion-item style="--border-radius:20px" text-center class="light">
        <div style="margin: auto;" text-center>
            <img src="assets/img/ibdnet.png" class="logo" alt="ibdnet">
        </div>
    </ion-item>
    <ion-item lines="none" class="cuerpo">
        <h1 color="light">Comenzar</h1>

    </ion-item>
    <ion-item text-center lines="none" class="cuerpo">
        <h6 color="light">Comunicación en <br> timpo real</h6>
    </ion-item>
    <br><br>
    <ion-grid style="width: 75%;">
        <ion-row class="rowStyle">
            <ion-icon name="person" color="tertiary"></ion-icon>
            <ion-input type="text" placeholder="nombre usuario"></ion-input>
        </ion-row>
        <ion-row class="rowStyle">
            <ion-icon color="tertiary" name="mail"></ion-icon>
            <ion-input type="email" placeholder="Correo"></ion-input>
        </ion-row>
        <ion-row class="rowStyle">
            <ion-icon name="key" color="tertiary"></ion-icon>
            <ion-input type="password" placeholder="Contraseña"></ion-input>
        </ion-row>
        <ion-button (click)="entrar()" shape="round" expand="block" color="light" fill="outline">Ingresa</ion-button>
        <ion-button (click)="navegar('login')" shape="round" expand="block" color="light" fill="clear">Ya existe la cuenta?</ion-button>
    </ion-grid>
</ion-content>