.logo {
    font-size: 25vh;
    margin-top: 50px;
    margin-bottom: 30px;
}

.rowStyle {
    background: #ffffff;
    color: #000000;
    padding-left: 10px;
    border-radius: 30px;
    margin-bottom: 10px;
    ion-icon {
        margin: auto 5px;
    }
}

h1,
h6 {
    margin: auto;
}