<ion-header>
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <ion-icon mode="md" color="tertiary" name="arrow-round-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title padding>
            <div>
                <img width="150px" src="assets/img/ibdnet.png" alt="ibdnet">

            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card>
        <ion-card-header class="cuerpo">
            <ion-card-title color="light" text-center>DRA. %%name%%</ion-card-title>
            <ion-card-subtitle color="light" text-right><small>Publicado</small></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content color="light">
            <img src="assets/img/draft.PNG" alt="draft">
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque facere eos numquam modi aspernatur sed laudantium, quae nisi tempora doloribus ea reprehenderit cumque odio eveniet deserunt vero quasi? Autem, incidunt!</p>
        </ion-card-content>
    </ion-card>
</ion-content>